<div class="social-media-icons">
  <div class="icon icon-1">
       <i class="lab la-linkedin"></i>
     <a href="https://www.linkedin.com/in/jerick-signapan-254b31230/" target="_blank" class="social-name">LinkedIn</a>
  </div>
  <div class="icon icon-2">
   <i class="lab la-github"></i>
    <a href="https://github.com/jericksignapan31" target="_blank" class="social-name">Github</a>
  </div>
  <div class="icon icon-3">
    <i class="lab la-facebook-square"></i>
       <a href="https://www.facebook.com/ricricDevs/" target="_blank" class="social-name">Facebook</a>

  </div>
</div>


