<div class="skills-container">
  <h2 class="title">Skill</h2>
  
  <div class="development-section">
    <span class="development"><i class="las la-code"></i> Development</span>
    <div class="skills-grid">
      <div class="skill">
        <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ficons8-html-48.png?alt=media&token=2c6dc9eb-4091-410c-a0c2-d7fc0eb1fc95" alt="HTML">
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ficons8-css-48.png?alt=media&token=cb387b5b-b1a6-47a9-8ab5-bae232337479" alt="CSS">
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ficons8-typescript-24.png?alt=media&token=3526c68d-0fc2-4e8f-8e0c-5553ff25361f" alt="JavaScript">
        <p>TypeScript</p>
      </div>
      <div class="skill">
        <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ftailwind-css-icon-2048x1229-u8dzt4uh.png?alt=media&token=62a0706a-728e-45c2-a1d9-10b134dd979e" alt="TailwindCSS">
        <p>TailwindCSS</p>
      </div>
      <div class="skill">
        <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ficons8-angular-48.png?alt=media&token=8bccb7be-881b-4e87-a9b6-63c713237e66" alt="React">
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Fsourcetree-logo-852CEF45CF-seeklogo.com.png?alt=media&token=b406c2a9-37a6-4871-899c-4488c7406ec4" alt="GitHub">
        <p>Source tree</p>
      </div>
    </div>
    
    <div class="tools">
      <div>
        <span><i class="las la-object-group"></i> DESIGN</span>
        <div class="box">
          <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ffigma.png?alt=media&token=c7905c61-ceb3-4c1e-bebb-9f1d889a4f63" alt="figma">
          <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2FIllustrator-Logo-1536x960.png?alt=media&token=0cb58559-32f2-49dd-b663-3ef2b0ff006c" alt="Illustrator">
          <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Fphotoshop.png?alt=media&token=45282809-63d9-4f33-a5bd-9860cafe4300" alt="Photoshop">
        </div>
      </div>
      <div>
        <span><i class="las la-tools"></i> TOOLS</span>
        <div class="box">
          <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Fcode-stable.png?alt=media&token=c4d835bf-ed5b-4474-9cc3-c3586ef334dd" alt="VS Code">
          <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2Ffirebase-logo.png?alt=media&token=335c038a-8c56-4459-93df-42204e25fe45" alt="Firebase">
          <img src="https://firebasestorage.googleapis.com/v0/b/mobi-pms.appspot.com/o/tools%2FGithub-PNG-Image.png?alt=media&token=a86105c9-7f33-422f-add1-9bf36737f335" alt="GitHub">
        </div>
      </div>
    </div>
  </div>
</div>
