<body>

<div class="container">
  <div class="about">
    <h1  class="title">About</h1>
    
    <p>Hi. I'm Jerick, nice to meet you! Please take a look around!</p>
    <p>I love creating responsive front-end web applications. My goal is to deliver beautiful, user-friendly interfaces and smooth user experiences.</p>
  </div>

  <div class="experience">
    <h1 class="title">Experience</h1>
    <div class="timeline-line"></div>

    <div class="experience-item left">
      <div class="content">
        <h2 class="role">FRONTEND DEVELOPER</h2>
        <h3 class="company">Prospera, Inc.</h3>
        
        <p class="description">
          My first job as a front-end developer creating website this website is platform that keeps you up-to-date with finance tips and affordable investment options in the Philippines.

        </p>
        <span class="date-right">Jan 2022 - Dec 2022</span>
      </div>
      
    </div>



    <div class="experience-item right">
      <div class="content">
        <h2 class="role">FRONTEND DEVELOPER</h2>
        <h3 class="company">Studev Phil Community.</h3>
        <p class="description">
         As a front-end developer, I contributed to creating a website for Studev, a community for IT students.
        <span class="date-left">Aug 2023 - Dec 2023</span>
      </div>
    </div>


    <div class="experience-item left">
      <div class="content">
         <h2 class="role">FULLSTACK DEVELOPER</h2>
        <h3 class="company">Mobi, Inc.</h3>
        <p class="description">
        As a full-stack developer, I developed a web-based personnel management system to streamline HR operations and improve employee data management.
        </p>
        <span class="date-right">Jan 2024 - May 2024</span>
      </div>
    </div>
    
  </div>
</div>

</body>