<mat-card>
  <div class="spacer"></div>
<div class="image" (load)="loadImage()">
  <img [src]="image">
</div>

  <div class="description">
    <p class="name">Hi, my name is</p>
    <p class="f-name">Jerick</p>
    <p class="f-name">SIGNAPAN</p>
    <p class="skill">I'm a Front-end developer.</p>
    <p class="des">I love creating responsive front-end web applications. My goal is to deliver beautiful, user-friendly interfaces and smooth user experiences.</p>
    <button class="learn-more">
  <span>LEARN MORE</span>
  <i class="initial-icon las la-arrow-right"></i>
  <i class="hover-icon las la-long-arrow-alt-down"></i>
</button>
  </div>
</mat-card>
